
 <div class="header">
  <div class="container top-header">
    <div class="inner">
      <a href="#">
        <img src="./assets/images/logo_home.png" alt="logo" />
      </a>
    </div>
    <div class="right">
      <span>
        <span>
          <a [routerLink]="['/registry']">Đăng ký</a>

          |
          <a [routerLink]="['/login']">Đăng nhập</a>
        </span> </span
      ><br />
      <div class="hotline">
        <span
          ><i
            class="fas fa-phone fa-flip-horizontal"
            style="color: red;"
          ></i>
          <span style="color: red;">Hotline:</span
          ><span class="tx_black"> 024.35141791</span></span
        >
      </div>
    </div>
  </div>
  <div class="container-fluid nav-header mainNav menu menu_home">
    <div class="inner container">
      <ul class="mainMenu">
        <li class="active"><a href="/">TRANG CHỦ</a></li>
        <li><a href="/">GIỚI THIỆU</a></li>
        <li><a href="/">LỊCH CHIẾU</a></li>
        <li><a href="/">GIÁ VÉ</a></li>
        <li class=""><a href="">THÀNH VIÊN</a></li>
        <li><a href="/">LIÊN HỆ</a></li>
      </ul>
      <div class="button_mua button_mua_home">
        <a href="/PlanScreenings/Sessiontimes"
          ><img src="./assets/images/ticket.png" alt="" /> MUA VÉ ONLINE</a
        >
      </div>
      <input type="hidden" id="hidden-cutomerid" value="0" />
    </div>
  </div>
</div>
