<div class="footer">
  <div class="fott">
    <div class="container">
      <ul class="nav-footer">
        <li><a href="/">Chính sách</a></li>
        <li><a href="/">Lịch chiếu</a></li>
        <li><a href="/">Tin tức </a></li>
        <li><a href="/">Giá vé</a></li>
        <li><a href="/">Hỏi đáp</a></li>
        <li><a href="/">Liên hệ</a></li>
      </ul>

      <div class="box_left">
        <div class="visit_online" style="margin-top: 20px;">
          <span>Số người online:</span>
          <img src="./assets/images/icon_online.png" />
          <font color="#ffc000">289</font>

          <span style="margin-left: 50px;">Số lượt truy cập:</span>
          <img src="./assets/images/icon_allonline.png" />
          <font color="#ffc000">20403664</font>
        </div>
        <div class="clear"></div>
      </div>
      <div class="down">
        <a href="#"><img src="./assets/images/img24.png" alt="" /></a>
        <a href="#"><img src="./assets/images/img25.png" alt="" /></a>
        <a
          href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=4527"
          ><img
            src="./assets/images/logo_da_thong_bao.png"
            alt=""
            style="width: 250px; height: 100px;"
        /></a>
      </div>
      <p>
        Cơ quan chủ quản: BỘ VĂN HÓA, THỂ THAO VÀ DU LỊCH<br />
        Bản quyền thuộc Trung tâm Chiếu phim Quốc gia.<br />
        Giấy phép số: 224/GP- TTĐT ngày 31/8/2010 - Chịu trách nhiệm:
        Nguyễn Danh Dương – Giám đốc.<br />
        Địa chỉ: 87 Láng Hạ, Quận Ba Đình, Tp. Hà Nội - Điện thoại:
        024.35141791
      </p>

      <div class="link">
        <a href="#"><img src="./assets/images/img26.png" alt="" /></a>
        <a href="https://www.facebook.com/khanhsdv92/"
          ><img src="./assets/images/img27.png" alt=""
        /></a>
        <a href="#"><img src="./assets/images/img28.png" alt="" /></a>
      </div>
    </div>
  </div>
</div>
