<div class="center">
  <div class="right_dangky">
    <div class="right_title">
      Đăng Kí Tài Khoản Mới
    </div>

    <div class="form_dangki">


      <div class="ho">
        Họ(<span style="color:red">*</span>)
        <input data-val="true" data-val-required="Yêu cầu nhập họ." id="LastName" name="LastName" type="text" value="">

        <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>

      </div>
      <div class="ten">
        Tên(<span style="color:red">*</span>)
        <input data-val="true" data-val-required="Yêu cầu nhập tên" id="FirstName" name="FirstName" type="text" value="">

        <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>

      </div>
      <div class="cmnd">
        CMND(<span style="color:red">*</span>)
        <input id="IDCard" name="IDCard" type="text" value="">

        <span class="field-validation-valid" data-valmsg-for="IDCard" data-valmsg-replace="true"></span>

      </div>
      <div class="sodienthoai">
        Số Điện Thoại(<span style="color:red">*</span>)
        <input type="text" name="sdt" value="">
      </div>
      <div class="email">
        Email(<span style="color:red">*</span>)
        <input data-val="true" data-val-email="Định dạng hòm thư không đúng" data-val-required="Yêu cầu nhập hòm thư điện tử." id="Email" name="Email" type="text" value="">

        <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>

        <span>(Email này dùng để kích hoạt tài khoản và nhận đơn hàng)</span>
        <br>
      </div>
      <div class="matkhau">
        Mật Khẩu(<span style="color:red">*</span>)
        <input data-val="true" data-val-length="Mật khâu phải có ít nhất 6 ký tự." data-val-length-max="999" data-val-length-min="6" data-val-required="Yêu cầu nhập mật khẩu." id="Password" name="Password" type="password" value="">
        <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>

      </div>
      <div class="xacnhanmatkhau">
        Xác Nhận Mật Khẩu(<span style="color:red">*</span>)
        <input data-val="true" data-val-equalto="Mật khẩu và xác nhận mật khẩu không giống nhau." data-val-equalto-other="*.Password" data-val-required="Yêu cầu xác nhận mật khẩu." id="ConfirmPassword" name="ConfirmPassword" type="password" value="">
        <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>

        <span>(<span style="color:red">*</span>) Các mục yêu cầu</span>
      </div>
      <div>

      </div>
      <div class="btn_dangki">
        <button type="submit" value="Đăng kí">ĐĂNG KÍ</button>
      </div>
    </div>
  </div>

  </div>
